@use "../../scss/abstracts/" as *;

.table {
  @include flex(stretch, flex-start);
  flex-wrap: wrap;
  margin: 3rem 0;

  &__top__customers {
    flex: 1;
    min-width: 320px;
    padding: 0 1rem;
  }
}

.table__title {
  @include flex(center, space-between);

  & a {
    margin-bottom: 1rem;
    color: rgb(0, 132, 255);
  }
}
