@use "../../scss/abstracts/" as *;

.topNav {
  display: flex;

  &_left {
    @include flex(center, flex-start);
    flex: 1;
    // border: 1px solid red;

    &_menu_icon {
      cursor: pointer;
    }
  }

  &_right {
  }
}
