@use "../../../scss/abstracts/" as *;

.container {
  padding: 0 1.6rem 2rem;
  @media screen and (max-width: 360px) {
    padding: 0 0 2rem;
  }
}

.table__wrapper {
  @include flex();
  width: 100%;
  min-width: 400px;
  flex: 1;
}

table {
  width: 100%;
  min-width: 300px;
  border-spacing: 0;
}

th {
  background-color: var(--primaryColor);
  color: var(--card-bgc);
  text-align: left;
  white-space: wrap;
  &:first-child {
    border-top-left-radius: $largeBorderRadius;
  }
  &:last-child {
    border-top-right-radius: $largeBorderRadius;
  }
}

th,
td {
  padding: 0.8rem 1rem;
}

html[dir="rtl"] {
  th {
    text-align: right;
    &:first-child {
      border-top-right-radius: $largeBorderRadius;
      border-top-left-radius: 0;
    }
    &:last-child {
      border-top-left-radius: $largeBorderRadius;
      border-top-right-radius: 0;
    }
  }
}
