.themeBox {
  width: 40px;
  height: 22px;
  background-color: #283036;
  border-radius: 30px;
  padding: 1px;
  position: relative;
}

.toggle {
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: all 0.3s ease-in-out;
  &.darkMode {
    left: 50%;
  }
}
