@use "../../../scss/abstracts/" as *;

.edit__container {
  @include flex();
  flex-wrap: wrap;
}

.edit__left,
.edit__right {
  flex: 1;
  min-width: 450px;
  max-width: 600px;
  margin: 1rem;
  @media screen and (max-width: 1210px) {
    margin-top: 2rem;
  }
  @media screen and (max-width: 550px) {
    min-width: 350px;
  }
  @media screen and (max-width: 330px) {
    min-width: 260px;
  }
}

.img_wrapper {
  @include flex(stretch, center);
  align-self: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: $mainBoxShadow;

  @media screen and (max-width: 576px) {
    width: 150px;
    height: 150px;
  }
}

.edit__left {
  & .img_wrapper {
    margin-top: 2rem;
    margin-right: 1.5rem;
  }
  & > div:first-child {
    flex-direction: column;
  }
}

.edit__right {
  position: relative;
  // min-width: 450px;
  @media screen and (max-width: 410px) {
    & > div:first-child {
      padding: 1rem 0;
    }
  }

  .img_wrapper {
    position: absolute;
    top: -3rem;
    right: -3.5rem;

    @media screen and (max-width: 576px) {
      right: 0;
      top: 0;
    }
    @media screen and (max-width: 410px) {
      top: 6rem;
      right: auto;
      left: 5rem;
    }
  }

  .upload_icon {
    @include flex();
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 4rem;
    color: #ebebeb;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    svg {
      cursor: pointer;
    }

    @include tablet {
      opacity: 1;
    }
  }

  .img_wrapper:hover .upload_icon,
  .img_wrapper:active .upload_icon {
    opacity: 1;
  }

  .file_input_control {
    .file_input {
      position: absolute;
      top: 35%;
      opacity: 0;
      padding: 2rem 0;
    }
  }
}

.pic {
  object-fit: cover;
}

.product__edit {
  position: relative;
  margin: 3rem;
  width: 100%;

  @include mobile {
    margin: 3rem 0.5rem;
  }
}

.product__info {
  @include flex();
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
  flex: 1;

  & > div {
    margin: 1rem;
    width: 100%;
    & > div {
      display: inline-block;
      width: 45%;
      @media screen and (max-width: 810px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.title {
  color: gray;
  text-align: right;
  @media screen and (max-width: 810px) {
    text-align: center;
    white-space: nowrap;
  }
}
.value {
  margin-left: 2rem;
  @media screen and (max-width: 810px) {
    margin-left: 0;
    margin-top: 0.7rem;
    white-space: nowrap;
  }
}

.subTitle {
  @include flex(center, flex-start);
  font-size: 36px;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 7rem;

  @media screen and (max-width: 410px) {
    margin-bottom: 14rem;
  }
}

.btn__wrapper {
  @include flex(center, space-between);
  flex-wrap: wrap;

  & a {
    flex: 1;
    margin: 0.5rem 0;
  }
  & button {
    width: 90%;

    @include tablet {
      margin: 0;
    }
  }
}

html[dir="rtl"] {
  .title {
    text-align: left;
    @media screen and (max-width: 810px) {
      text-align: center;
    }
  }
  .value {
    margin-left: 0;
    margin-right: 2rem;
    @media screen and (max-width: 810px) {
      margin-right: 0;
    }
  }
  .edit__left {
    & .img_wrapper {
      margin-left: 1.5rem;
    }
  }
  .edit__right {
    .img_wrapper {
      right: auto;
      left: -3.5rem;
      @media screen and (max-width: 576px) {
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
      }
      @media screen and (max-width: 410px) {
        top: 6rem;
        right: 6rem;
        left: auto;
      }
    }
  }
}
