@use "../../../scss/abstracts/" as *;
.form__control {
  position: relative;
  margin-bottom: 2rem;
  // border: 1px solid red;
  label {
    position: absolute;
    top: -30%;
    left: 10px;
    background-color: var(--bgc);
    padding: 0.3rem;
    white-space: nowrap;
  }

  input {
    padding: 1rem 1.5rem;
    border: 1px solid gainsboro;
    outline: gray;
    background-color: var(--bgc);
    border-radius: $smallBorderRadius;
    min-width: 300px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
    @media screen and (max-width: 300px) {
      min-width: auto;
    }
  }
}

html[dir="rtl"] {
  .form__control {
    label {
      left: auto;
      right: 10px;
    }
  }
}
