@use "../../scss/abstracts/" as *;
@use "sass:math";

.sidebar {
  @include flex(stretch, center);
  flex-direction: column;
  background-color: $bgc;
  color: $text-color !important;
  border: 1px solid blue;
  width: $sideBarOpenWidth;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  z-index: 200;

  @include tablet {
    width: 100vw;
    z-index: 1;
    background-color: $secondaryColor;
    color: #ebebeb;
    user-select: none;
    // opacity: 0;
    // visibility: hidden;
  }

  &__logo {
    @include flex();
    width: $sideBarLogoHeight;
    text-align: center;

    img {
      --size: 7.5rem;
      width: var(--size);
      height: var(--size);
    }
  }

  &__menu {
    @include flex(stretch, flex-start);
    flex-direction: column;
    flex-grow: 1;

    &__item {
      @include flex(center, flex-start);
      position: relative;
      margin-bottom: 1.2rem;
      padding-left: 16%;
      transition: color 0.1s ease-in-out;

      &:hover {
        color: $primaryColor;
      }

      &.active {
        font-weight: 700;
        color: $primaryColor;

        &::before {
          content: "";
          width: 4px;
          height: 100%;
          background-color: $primaryColor;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      &__icon {
        @include flex(center, center);
        margin-right: 1rem;

        svg {
          width: $smallIconSize;
          height: $smallIconSize;
        }
      }
    }
  }
}

.logout {
  align-self: flex-end;
}
