@use "../../../scss/abstracts/" as *;

.card {
  @include flex();
  background-color: var(--bgc);
  border-radius: $mediumBorderRadius;
  box-shadow: $mainBoxShadow;
  padding: 1rem 2.5rem;
  flex: 1;
}
