@use "../scss/abstracts/" as *;

.container {
  display: flex;
}

.main {
  background-color: $card-bgc;
  overflow-x: hidden;
  flex-grow: 1;
  border: 1px solid red;

  &__content {
    min-height: 100vh;
    padding: 0.8rem 0.8rem 0.8rem 15rem;
    transition: all 0.3s ease-in-out;

    @include tablet {
      padding: 0.8rem 2rem;
      position: relative;
      background-color: $card-bgc;
      z-index: 100;
    }

    @include mobile {
      padding: 0.8rem 1rem;
    }
  }
}
